.html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.background {
  max-width: 1200px;
  font-weight: 1000;
  background-color: rgb(201, 200, 200);
  font-family: "Montserrat", sans-serif;
}
