.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  background-color: white;
  padding: 5px;
  margin: 5px 0;
}
@media (max-width: 757px) {
  .form {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
  }

  .button {
    grid-row: 2;
  }
}
.container {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}
.form__cell {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 700px;
}
.button {
  min-width: 30px;
  height: 12px;
  padding: 10px;
  text-align: center;
  background-color: rgb(7, 146, 245);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  transition: 1s;
}
.click:hover {
  background-color: aqua;
  transform: scale(1.1);
}
.input {
  font-size: 15px;
  min-height: 20px;
  border: 1px silver solid;
  padding: 5px;
  margin-left: 10px;
}
.container__header {
  margin-top: 20px;
  border: none;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}
.container__header--second {
  border: none;
  padding: 10px;
  margin: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}
.container__header--withButton {
  grid-template-columns: 1fr auto 2fr 2fr;
  grid-gap: 20px;
}
