.button__task {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.button__task--done {
  background: #469346;
}
.click__task:hover {
  background: #1aff00;
}
.click__task--remove:hover {
  background: #fa8a45;
}

.button__task--remove {
  background: rgb(185, 24, 13);
}

.list__tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  font-weight: 1000;
}

.task {
  background: white;
  margin: 20px;
}
.changeTasksDone {
  text-decoration: line-through;
  margin: 20px;
}

.task__done {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: white;
  font-size: 14px;
  min-height: 50px;
  padding: 10px;
  border-bottom: solid silver 2px;
}
.button__task--all {
  color: rgb(0, 90, 128);
  background-color: transparent;
  border: none;
  margin: 0 0 0 20px;
  padding: 10px;
  transition: 2s;
  font-size: 14px;
  max-width: 300px;
}
.button__task--all:hover {
  background-color: rgb(255, 255, 255);
  color: aqua;
}

.button__task--all:disabled {
  color: #ffffff;
}
.task__hide {
  display: none;
}
