.button__task {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.button__task--done {
  background: #469346;
}
.click__task:hover {
  background: #1aff00;
}
.click__task--remove:hover {
  background: #fc6100;
}

.button__task--remove {
  background: rgb(185, 24, 13);
}
.list__tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task {
  background: white;
  margin: 20px;
}
.changeTasksDone {
  text-decoration: line-through;
  margin: 20px;
}

.task__done {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: white;
  font-size: 14px;
  min-height: 50px;
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid silver;
  margin-right: 30px;
  padding-top: 10px;
}
