.html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.background {
  max-width: 800px;
  background-color: silver;
}

.head {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 40px;
  margin-left: 40px;
}

.button {
  margin: 17px;
  padding: 5px;
  background-color: rgb(64, 150, 196);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.form {
  margin-bottom: 30px;
  padding: 5px;
  border: none;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: white;
  margin-left: 60px;
}
.form__cell {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.formHead {
  margin-top: 20px;
  border: none;
  font-size: 22px;
  margin-left: 60px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: white;
  margin-bottom: 2px;
  display: flex;
  justify-content: start;
}
.input {
  border: none;
  font-size: 15px;
  height: 20px;
  margin: 20px;
}
.button__done {
  background: green;
  border: none;
  width: 10px;
  height: 20px;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}
.button__remove {
  background: rgb(255, 77, 0);
  border: none;
  width: 10px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  color: black;
  font-weight: bolder;
}
.list__head {
  list-style-type: none;
  margin-top: 2px;
  font-size: 15px;
}
.task {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  margin-left: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.changeTasksDone {
  text-decoration: line-through;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.symbol {
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  text-align: center;
}
.list__done {
  display: grid;
  grid-template-columns: 30px 3fr 1fr;
  margin-left: 20px;
  background: white;
}
