.html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.background {
  max-width: 800px;
  background-color: rgb(252, 249, 249);
  font-family: "Montserrat", sans-serif;
}

.head {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 60px;
}

.button {
  margin: 17px;
  padding: 5px;
  background-color: cadetblue;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click:hover {
  background-color: aqua;
}

.form {
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: white;
  margin-left: 60px;
  border: silver 1px solid;
  border-top: none;
}
.form__cell {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.formHead {
  margin-top: 20px;
  border: none;
  font-size: 17px;
  margin-left: 60px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: white;
  display: flex;
  justify-content: start;
  border: silver 1px solid;
}
.formHead__second {
  margin-top: 20px;
  border: none;
  font-size: 17px;
  margin-left: 60px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: white;
  display: flex;
  justify-content: start;
  border: silver 1px solid;
}
.input {
  border: none;
  font-size: 15px;
  height: 20px;
  margin: 20px;
  border: 1px silver solid;
}
.button__done {
  margin-left: 10px;
  background: #469346;
  border: none;
  width: 20px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.button__remove {
  background: rgb(185, 24, 13);
  border: none;
  width: 20px;
  height: 30px;
  margin-top: 5px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.list__head {
  list-style-type: none;
  font-size: 15px;
  margin-left: 60px;
  background-color: white;
  min-height: 40px;
  border: 1px solid silver;
  margin-top: 0px;
  border-top: NONE;
  padding-bottom: 20px;
}
.task {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  margin-left: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.changeTasksDone {
  text-decoration: line-through;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.symbol {
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  text-align: center;
}
.list__done {
  display: grid;
  grid-template-columns: auto 3fr auto;
  background: white;
  font-size: 10px;
  min-height: 50px;
  padding-left: 0px;
  margin-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid silver;
  margin-right: 30px;
  padding-top: 10px;
}
.filling {
  margin-left: 60px;
  display: grid;
  grid-template-columns: 30px 3fr 60px;
  background: white;
  height: 40px;
}
